{{! Detailed instructions can be found in the Documentation >> Activation >> Social accounts }}

{{! RSS }}
{{!-- <li><a href="/rss">{{>icons/site/rss}}RSS</a></li> --}}

{{! Adobe Creative Cloud }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/adobecreativecloud}}Adobe Creative Cloud</a></li> --}}
{{! Airbnb }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/airbnb}}Airbnb</a></li> --}}
{{! Amazon }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/amazon}}Amazon</a></li> --}}
{{! Android }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/android}}Android</a></li> --}}
{{! AngelList }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/angellist}}AngelList</a></li> --}}
{{! Angular }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/angular}}Angular</a></li> --}}
{{! Apple }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/apple}}Apple</a></li> --}}
{{! Apple Music }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/applemusic}}Apple Music</a></li> --}}
{{! Apple Pay }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/applepay}}Apple Pay</a></li> --}}
{{! Asana }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/asana}}Asana</a></li> --}}
{{! Atlassian }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/atlassian}}Atlassian</a></li> --}}
{{! Baidu }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/baidu}}Baidu</a></li> --}}
{{! BandCamp }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/bandcamp}}BandCamp</a></li> --}}
{{! Basecamp }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/basecamp}}Basecamp</a></li> --}}
{{! Behance }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/behance}}Behance</a></li> --}}
{{! Big Cartel }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/bigcartel}}Big Cartel</a></li> --}}
{{! Bitcoin }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/bitcoin}}Bitcoin</a></li> --}}
{{! Bitbucket }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/bitbucket}}Bitbucket</a></li> --}}
{{! Bitly }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/bitly}}Bitly</a></li> --}}
{{! Blogger }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/blogger}}Blogger</a></li> --}}
{{! Bluesky }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/bluesky}}Bluesky</a></li> --}}
{{! Bower }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/bower}}Bower</a></li> --}}
{{! Buffer }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/buffer}}Buffer</a></li> --}}
{{! Buy me a coffee }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/buymeacoffee}}Buy me a coffee</a></li> --}}
{{! BuzzFeed }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/buzzfeed}}BuzzFeed</a></li> --}}
{{! CashApp }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/cashapp}}CashApp</a></li> --}}
{{! Castro }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/castro}}Castro</a></li> --}}
{{! Codecov }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/codecov}}Codecov</a></li> --}}
{{! CodeIgniter }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/codeigniter}}CodeIgniter</a></li> --}}
{{! CodePen }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/codepen}}CodePen</a></li> --}}
{{! Codewars }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/codewars}}Codewars</a></li> --}}
{{! Dailymotion }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/dailymotion}}Dailymotion</a></li> --}}
{{! Debian }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/debian}}Debian</a></li> --}}
{{! Deezer }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/deezer}}Deezer</a></li> --}}
{{! Delicious }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/delicious}}Delicious</a></li> --}}
{{! DeviantArt }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/deviantart}}DeviantArt</a></li> --}}
{{! Diaspora }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/diaspora}}Diaspora</a></li> --}}
{{! Digg }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/digg}}Digg</a></li> --}}
{{! Discord }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/discord}}Discord</a></li> --}}
{{! Discourse }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/discourse}}Discourse</a></li> --}}
{{! Disqus }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/disqus}}Disqus</a></li> --}}
{{! Django }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/django}}Django</a></li> --}}
{{! Dribbble }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/dribbble}}Dribbble</a></li> --}}
{{! Dropbox }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/dropbox}}Dropbox</a></li> --}}
{{! DTube }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/dtube}}DTube</a></li> --}}
{{! Envato }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/envato}}Envato</a></li> --}}
{{! Etsy }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/etsy}}Etsy</a></li> --}}
{{! Evernote }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/evernote}}Evernote</a></li> --}}
{{! Everplaces }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/everplaces}}Everplaces</a></li> --}}
{{! Feedly }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/feedly}}Feedly</a></li> --}}
{{! Figma }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/figma}}Figma</a></li> --}}
{{! Flickr }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/flickr}}Flickr</a></li> --}}
{{! Flipboard }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/flipboard}}Flipboard</a></li> --}}
{{! Framer }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/framer}}Framer</a></li> --}}
{{! Foursquare }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/foursquare}}Foursquare</a></li> --}}
{{! Gatsby }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/gatsby}}Gatsby</a></li> --}}
{{! Ghost }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/ghost}}Ghost</a></li> --}}
{{! Git }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/git}}Git</a></li> --}}
{{! GitHub }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/github}}GitHub</a></li> --}}
{{! GitLab }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/gitlab}}GitLab</a></li> --}}
{{! Gmail }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/gmail}}Gmail</a></li> --}}
{{! GNU Social }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/gnusocial}}GNU Social</a></li> --}}
{{! GoldenLine }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/goldenline}}GoldenLine</a></li> --}}
{{! Google Allo }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/googleallo}}Google Allo</a></li> --}}
{{! Google Analytics }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/googleanalytics}}Google Analytics</a></li> --}}
{{! Google Drive }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/googledrive}}Google Drive</a></li> --}}
{{! Google Pay }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/googlepay}}Google Pay</a></li> --}}
{{! Google Play }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/googleplay}}Google Play</a></li> --}}
{{! Google Plus }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/googleplus}}Google Plus</a></li> --}}
{{! Google Podcasts }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/googlepodcasts}}Google Podcasts</a></li> --}}
{{! Gravatar }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/gravatar}}Gravatar</a></li> --}}
{{! Groupon }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/groupon}}Groupon</a></li> --}}
{{! Gulp }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/gulp}}Gulp</a></li> --}}
{{! Gumroad }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/gumroad}}Gumroad</a></li> --}}
{{! Gumtree }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/gumtree}}Gumtree</a></li> --}}
{{! HackerRank }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/hackerrank}}HackerRank</a></li> --}}
{{! Heroku }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/heroku}}Heroku</a></li> --}}
{{! Hipchat }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/hipchat}}Hipchat</a></li> --}}
{{! Hootsuite }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/hootsuite}}Hootsuite</a></li> --}}
{{! Houzz }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/houzz}}Houzz</a></li> --}}
{{! Hulu }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/hulu}}Hulu</a></li> --}}
{{! Humble Bundle }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/humblebundle}}Humble Bundle</a></li> --}}
{{! ICQ }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/icq}}ICQ</a></li> --}}
{{! iFixit }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/ifixit}}iFixit</a></li> --}}
{{! IMDb }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/imdb}}IMDb</a></li> --}}
{{! Instagram }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/instagram}}Instagram</a></li> --}}
{{! Instapaper }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/instapaper}}Instapaper</a></li> --}}
{{! Intercom }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/intercom}}Intercom</a></li> --}}
{{! InVision }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/invision}}InVision</a></li> --}}
{{! JavaScript }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/javascript}}JavaScript</a></li> --}}
{{! Jira }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/jira}}Jira</a></li> --}}
{{! Joomla }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/joomla}}Joomla</a></li> --}}
{{! jQuery }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/jquery}}jQuery</a></li> --}}
{{! JSFiddle }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/jsfiddle}}JSFiddle</a></li> --}}
{{! JustGiving }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/justgiving}}JustGiving</a></li> --}}
{{! Khan Academy }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/khanacademy}}Khan Academy</a></li> --}}
{{! Kickstarter }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/kickstarter}}Kickstarter</a></li> --}}
{{! Kik }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/kik}}Kik</a></li> --}}
{{! Ko-fi }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/kofi}}Ko-fi</a></li> --}}
{{! Last.fm }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/lastfm}}Last.fm</a></li> --}}
{{! Line }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/line}}Line</a></li> --}}
{{! Linkedin }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/linkedin}}Linkedin</a></li> --}}
{{! Livestream }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/livestream}}Livestream</a></li> --}}
{{! Mailchimp }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/mailchimp}}Mailchimp</a></li> --}}
{{! MakerBot }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/makerbot}}MakerBot</a></li> --}}
{{! MasterCard }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/mastercard}}MasterCard</a></li> --}}
{{! Mastodon }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/mastodon}}Mastodon</a></li> --}}
{{! Medium }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/medium}}Medium</a></li> --}}
{{! Meetup }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/meetup}}Meetup</a></li> --}}
{{! Messenger }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/messenger}}Messenger</a></li> --}}
{{! Micro.blog }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/microblog}}Micro.blog</a></li> --}}
{{! .NET }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/net}}.NET</a></li> --}}
{{! Netlify }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/netlify}}Netlify</a></li> --}}
{{! Netflix }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/netflix}}Netflix</a></li> --}}
{{! Nintendo Switch }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/nintendoswitch}}Nintendo Switch</a></li> --}}
{{! Notion }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/notion}}Notion</a></li> --}}
{{! npm }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/npm}}npm</a></li> --}}
{{! NVIDIA }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/nvidia}}NVIDIA</a></li> --}}
{{! Oculus }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/oculus}}Oculus</a></li> --}}
{{! Odnoklassniki }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/odnoklassniki}}Odnoklassniki</a></li> --}}
{{! Origin }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/origin}}Origin</a></li> --}}
{{! Overcast }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/overcast}}Overcast</a></li> --}}
{{! PayPal }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/paypal}}PayPal</a></li> --}}
{{! Patreon }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/patreon}}Patreon</a></li> --}}
{{! Periscope }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/periscope}}Periscope</a></li> --}}
{{! Pinboard }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/pinboard}}Pinboard</a></li> --}}
{{! Pingdom }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/pingdom}}Pingdom</a></li> --}}
{{! Pinterest }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/pinterest}}Pinterest</a></li> --}}
{{! Player.me }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/playerme}}Player.me</a></li> --}}
{{! Plex }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/plex}}Plex</a></li> --}}
{{! Pocket }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/pocket}}Pocket</a></li> --}}
{{! Podcasts }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/podcasts}}Podcasts</a></li> --}}
{{! ProcessWire }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/processwire}}ProcessWire</a></li> --}}
{{! Product Hunt }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/producthunt}}Product Hunt</a></li> --}}
{{! Proto.io }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/protoio}}Proto.io</a></li> --}}
{{! Python }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/python}}Python</a></li> --}}
{{! Quantopian }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/quantopian}}Quantopian</a></li> --}}
{{! Quip }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/quip}}Quip</a></li> --}}
{{! Quora }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/quora}}Quora</a></li> --}}
{{! Raspberry Pi }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/raspberrypi}}Raspberry Pi</a></li> --}}
{{! Riot }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/riot}}Riot</a></li> --}}
{{! Runkeeper }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/runkeeper}}Runkeeper</a></li> --}}
{{! Redbubble }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/redbubble}}Redbubble</a></li> --}}
{{! Reddit }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/reddit}}Reddit</a></li> --}}
{{! Sauce Labs }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/saucelabs}}Sauce Labs</a></li> --}}
{{! Sellfy }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/sellfy}}Sellfy</a></li> --}}
{{! Shopify }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/shopify}}Shopify</a></li> --}}
{{! Skype }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/skype}}Skype</a></li> --}}
{{! Slack }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/slack}}Slack</a></li> --}}
{{! SlickPic }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/slickpic}}SlickPic</a></li> --}}
{{! Smashing Magazine }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/smashingmagazine}}Smashing Magazine</a></li> --}}
{{! Snapchat }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/snapchat}}Snapchat</a></li> --}}
{{! Songkick }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/songkick}}Songkick</a></li> --}}
{{! SoundCloud }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/soundcloud}}SoundCloud</a></li> --}}
{{! SparkPost }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/sparkpost}}SparkPost</a></li> --}}
{{! Spotify }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/spotify}}Spotify</a></li> --}}
{{! Squarespace }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/squarespace}}Squarespace</a></li> --}}
{{! Strava }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/strava}}Strava</a></li> --}}
{{! Stack Overflow }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/stackoverflow}}Stack Overflow</a></li> --}}
{{! Steam }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/steam}}Steam</a></li> --}}
{{! Stripe }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/stripe}}Stripe</a></li> --}}
{{! TED }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/ted}}TED</a></li> --}}
{{! Tencent QQ }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/tencentqq}}Tencent QQ</a></li> --}}
{{! Telegram }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/telegram}}Telegram</a></li> --}}
{{! The Mighty }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/themighty}}The Mighty</a></li> --}}
{{! Threads }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/threads}}Threads</a></li> --}}
{{! TikTok }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/tiktok}}TikTok</a></li> --}}
{{! Tinder }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/tinder}}Tinder</a></li> --}}
{{! Trakt }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/trakt}}Trakt</a></li> --}}
{{! Trello }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/trello}}Trello</a></li> --}}
{{! Tumblr }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/tumblr}}Tumblr</a></li> --}}
{{! Twilio }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/twilio}}Twilio</a></li> --}}
{{! Twitch }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/twitch}}Twitch</a></li> --}}
{{! Twoo }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/twoo}}Twoo</a></li> --}}
{{! Udacity }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/udacity}}Udacity</a></li> --}}
{{! Udemy }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/udemy}}Udemy</a></li> --}}
{{! Unsplash }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/unsplash}}Unsplash</a></li> --}}
{{! Upwork }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/upwork}}Upwork</a></li> --}}
{{! Vimeo }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/vimeo}}Vimeo</a></li> --}}
{{! Vine }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/vine}}Vine</a></li> --}}
{{! Visa }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/visa}}Visa</a></li> --}}
{{! vk }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/vk}}vk</a></li> --}}
{{! VSCO }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/vsco}}VSCO</a></li> --}}
{{! WhatsApp }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/whatsapp}}WhatsApp</a></li> --}}
{{! WeChat }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/wechat}}WeChat</a></li> --}}
{{! Weibo }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/weibo}}Weibo</a></li> --}}
{{! Wikipedia }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/wikipedia}}Wikipedia</a></li> --}}
{{! Wire }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/wire}}Wire</a></li> --}}
{{! WordPress }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/wordpress}}WordPress</a></li> --}}
{{! Xbox }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/xbox}}Xbox</a></li> --}}
{{! YouTube }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/youtube}}YouTube</a></li> --}}
{{! YouTube Music}}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/youtubemusic}}YouTube Music</a></li> --}}
{{! Zendesk }}
{{!-- <li><a href="#" target="_blank" rel="noopener">{{>icons/social/zendesk}}Zendesk</a></li> --}}
