<div class="special-section global-padding">
	<small class="global-subtitle">{{label}}</small>
	<div class="special-wrap">
		{{#foreach posts}}
		{{>item is_special=true}}
		{{/foreach}}
	</div>
</div>